Dear {{ supervisor_name|escape }},


tomorrow will be the next session of our {{ seminar_name|escape }} and you are marked as a supervisor.

{{ talk[1]|escape }} {{ talk[2]|escape }} will give a talk with the title: 
*{{ talk[4]|escape }}*
Abstract: {{ talk[5]|escape }}


Best

Your {{ seminar_name|escape }} Notifier
