Dear {{ supervisor_name|escape }},


The last session of our {{ seminar_name|escape }} is on February 1st, 2019. Please hand in your grading sheets by February 8th, 2019 at the latest.


Best

Your {{ seminar_name|escape }} Notifier
