Dear {{ student_firstname|escape }} {{ student_lastname|escape }},


the first session of our {{ seminar_name|escape }} will be on 03.10.2018. Please remember to register with StudIP and FlexNow!


Best

Your {{ seminar_name|escape }} Notifier


PS: Have a look at the schedule to find out when it is your next turn to give a talk!

{{ schedule|escape }}
