Dear {{ student_firstname|escape }} {{ student_lastname|escape }},


in yesterdays session of our {{ seminar_name|escape }} we talked about:
{%- for talk in talk_list %}

{{ talk[1]|escape }} {{ talk[2]|escape }} gave a talk with the title: 
*{{ talk[4]|escape }}*
Abstract: {{ talk[5]|escape }}
  
{%- endfor %}


Best

Your {{ seminar_name|escape }} Notifier


PS: Have a look at the schedule to find out when it is your next turn to give a talk!

{{ schedule|escape }}
