Dear {{ student_firstname|escape }} {{ student_lastname|escape }},

{% if talk_list|length == 0 %}
there will be no {{ seminar_name|escape }} tomorrow. Enjoy your free time!
{%- else %}
tomorrow will be the next session of our {{ seminar_name|escape }}. 
{%- for talk in talk_list %}

{{ talk[1]|escape }} {{ talk[2]|escape }} will give a talk with the title: 
*{{ talk[4]|escape }}*
Abstract: {{ talk[5]|escape }}

{%- endfor %}
{% endif %}

Best

Your {{ seminar_name|escape }} Notifier


PS: Have a look at the schedule to find out when it is your next turn to give a talk!

{{ schedule|escape }}
