Dear {{ supervisor_name|escape }},


this is a friendly reminder that you are marked as a supervisor in todays session of our {{ seminar_name|escape }}.

{{ talk[1]|escape }} {{ talk[2]|escape }} will give a talk with the title: 
*{{ talk[4]|escape }}*
Abstract: {{ talk[5]|escape }}


Best

Your {{ seminar_name|escape }} Notifier
