Dear {{ supervisor_name|escape }},


yesterday one of your students gave a talk in our {{ seminar_name|escape }}. Please remember to hand in the marked grading sheet!

{{ talk[1]|escape }} {{ talk[2]|escape }} gave a talk with the title: 
*{{ talk[4]|escape }}*
Abstract: {{ talk[5]|escape }}


Best

Your {{ seminar_name|escape }} Notifier
